.chatBox {
    background: #dfdfdf;
    max-height: calc(70vh);
    min-height: calc(50vh);
    .nameBox {
        height: 50px;
        border-bottom: 1px solid #999;
        .customer {
            float: left;
            // width: 120px;
            margin-left: 20px;
            font-size: 20px;
            font-weight: 700;
            height: 50px;
            line-height: 50px;
        }
        .businessman {
            float: right;
            width: 150px;
            text-align: right;
            margin-right: 20px;
            font-size: 16px;
            font-weight: 700;
            height: 50px;
            line-height: 50px;
        }
    }
    .content {
        // height: auto;
        padding: 10px 0px;
        max-height: calc(70vh - 50px);
        min-height: calc(50vh - 50px);
        overflow-y: auto;
        .chatContent {
            height: auto;
            .item {
                margin-top: 20px;
                .sessionBox {
                    width: 100%;
                    height: auto;
                    @extend .clearfix;
                    .session {
                        display: inline-block;
                        height: auto;
                        padding: 3px 6px;
                        background: #ccc;
                        max-width: 75%;
                        border-radius: 3px;
                        line-height: 26px;
                        font-size: 14px;
                        word-wrap: break-word;
                    }
                    .customerSession {
                        float: left;
                        margin-left: 10px;
                    }
                    .businessmanSession {
                        float: right;
                        margin-right: 10px;
                        background: #a2e5ec;
                    }
                }
                .time {
                    span:nth-child(1) {
                        font-size: 10px;
                        margin-left: 20px;
                    }
                    span:nth-child(2) {
                        font-size: 10px;
                        margin-left: 5px;
                    }
                }
                .businessmanTime {
                    text-align: right;
                    margin-right: 20px;
                }
    
            }
        }
    }
    
}