.el-col {
    border: 2px solid #aaa;
    height: calc(100vh - 150px);
    width: 25%;
    margin: 0 0 0 -2px;
}
.el-col:nth-child(1) {
    margin: 0px;
}
.el-col:nth-child(3) {
    margin-right: 0px;
    width: 50%;
}
h5 {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    letter-spacing: 0.5px;
}
.el-menu {
    border: none;
}
